body {
	text-align: center;
}

#title {
	font-size: 45px;
	font-family: "Comic Sans MS", cursive;
}

p {
	font-size: 30px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive;
}

button {
	font-size: 30px;
	border-radius: 15px;
	background-color: skyblue;
	font-family: "Comic Sans MS", cursive;
}